<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389117861030-s5uqmne9tln1iag757rmk1h12sr0cdgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389117861030-s5uqmne9tln1iag757rmk1h12sr0cdgo</string>
	<key>API_KEY</key>
	<string>AIzaSyCyiBM00BO5zU62SDxQ3wMkcFxdJMvFWLk</string>
	<key>GCM_SENDER_ID</key>
	<string>389117861030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoffsilva.SwiftArquiteturas</string>
	<key>PROJECT_ID</key>
	<string>swiftarquiteturas-d4ddb</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftarquiteturas-d4ddb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389117861030:ios:4467cfe05a42cb27fe6867</string>
</dict>
</plist>